{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>OP Panel</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="content">
            <div class="sidebar">
                {% block sidebar %}test{% endblock %}
            </div>
            <div class="panel">
                {% block panel %}{% endblock %}
            </div>
        </div>
    </body>
</html>