body {
    background-color: #3777AB;
    margin: 0;
    color: rgb(187, 192, 211);
}

hr {
    border: 1px #2d618b solid;
}

a:link, a:visited {
    color: rgb(187, 192, 211);
}

.pc-index-logo {
    height: 300px;
    width: 100%;
    text-align: center;
}

.pc-index-logo img {
    width: auto;
    height: 150px;
    padding: 30px 0 125px 0;
    -webkit-filter: drop-shadow(0px 0px 24px black);
    -moz-filter: drop-shadow(0px 0px 24px black);
    filter: drop-shadow(0px 0px 24px black);
}

.pc-index-boards {
    margin: auto;
}

.pc-index-boards tr {
    border: 1px solid #1b3b55;
}

.pc-index-boards tr:first-child td {
    background-color: #1b3b55
}

.pc-topbar {
    text-align: center;
}

.pc-topbar-nav {
    background-color: #2d5c83;
    border-bottom: black 1px solid;
    padding: 2px 0px 2px 0px;
    -webkit-box-shadow: 0px 8px 13px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 8px 13px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 8px 13px 0px rgba(66, 68, 90, 1);
}

.pc-topbar-nav ur {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pc-topbar-nav a:link {
    color: rgb(216, 216, 216);
}

.pc-topbar-nav a:visited {
    color: rgb(216, 216, 216);
}

.pc-topbar-banner img {
    max-height: 100px;
    max-width: 250px;
    margin-top: 10px;
}

.pc-topbar-banner h1 {
    margin-top: 5px;
}

.pc-thread-paged {
    height: 200px;
}

.pc-thread-info {
    height: 20px;
}

.pc-thread-image img {
    max-height: 200px;
}

.pc-post-wrapper {
    width: 100%;
}

.pc-post, .pc-thread-paged {
    min-height: 230px;
    min-width: 500px;
    background-color: #2a5980;
    margin: 5px 0 0 5px;
    display: inline-block;
}

.pc-post-info, .pc-thread-info {
    margin: 2px 3px 2px 3px;
}

.pc-post-image, .pc-thread-image {
    float: left;
    margin: 5px;
}

.pc-post-image img, .pc-thread-image img {
    max-height: 200px;
    max-width: auto;
}

.pc-post-message {
    margin: 5px;
}