body {
    background-color: #3777AB;
    margin: 0;
    color: rgb(187, 192, 211);
}

hr {
    border: 1px #2d618b solid;
}

a:link, a:visited {
    color: rgb(187, 192, 211);
}

.pc-topbar {
    text-align: center;
}

.pc-topbar-nav {
    background-color: #2d5c83;
    border-bottom: black 1px solid;
    padding: 2px 0px 2px 0px;
    -webkit-box-shadow: 0px 8px 13px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 8px 13px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 8px 13px 0px rgba(66, 68, 90, 1);
}

.pc-topbar-nav ur {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pc-topbar-nav a:link {
    color: rgb(216, 216, 216);
}

.pc-topbar-nav a:visited {
    color: rgb(216, 216, 216);
}

.pc-topbar-banner img {
    max-height: 100px;
    max-width: 250px;
    margin-top: 10px;
}

.pc-topbar-banner h1 {
    margin-top: 5px;
}

.pc-thread-paged {
    height: 200px;
}

.pc-thread-info {
    height: 20px;
}

.pc-thread-image img {
    max-height: 150px;
}

.pc-post-wrappe {
    width: 100%;
}

.pc-post {
    min-height: 230px;
    min-width: 500px;
    background-color: #2a5980;
    margin: 5px 0 0 5px;
    display: inline-block;
}

.pc-post-info {
    margin: 2px 0 0 2px;
}

.pc-post-image {
    float: left;
    margin: 5px;
}

.pc-post-image img {
    max-height: 200px;
    max-width: auto;
}

.pc-post-message {
    margin: 5px;
}