{% extends "chanCore.html" %}
{% block topbar %}
{% endblock %}
{% block content %}
    {% for post in post_list %}
        <a href="./{{post.id}}">
            <div class="pc-thread-paged">
                <div class="pc-thread-info">
                    <!--
                        for some reason this gliches the thread link?
                    {% if post.image %}
                        <a href="{{ post.image.url }}">file</a>
                    {% endif %}
                    -->
                    <b>0xAnonymous</b> {{ post.timestamp }}({{ post.timestamp|date:"l" }}) No. {{ post.id }}
                </div>
                {% if post.image %}
                    <div class="pc-thread-image">
                        <img src="{{ post.image.url }}"/>
                    </div>
                {% endif %}
                <div class="pc-thread-message">
                    {{ post.message }}
                </div>
            </div>
            <hr/>
        </a>
    {% endfor %}
{% endblock %}