{% extends "chanCore.html" %}
{% block topbar %}
{% endblock %}
{% block content %}
    {% for post in post_list %}
        <div class="pc-thread-paged">
            <div class="pc-thread-info">
                <b>Anonymous</b> {{ post.timestamp }} No. <a href="./{{post.id}}">{{ post.id }}</a>
            </div>
            <div class="pc-thread-image">
                <img src="{{ post.image.url }}"/>
            </div>
            <div class="pc-thread-message">
                {{ post.message }}
            </div>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}