{% extends "chanCore.html" %}
{% block topbar %}
{% endblock %}
{% block content %}
    <div class="content">
        {% for post in post_list%}
        <div class="pc-post-wrapper">
            <div class="pc-post">
                <div class="pc-post-info">
                    {% if post.image %}
                        <a href="{{ post.image.url }}"/>file</a>
                    {% endif %}
                    <b>Anonymous</b> {{post.timestamp}} No. {{post.id}}<br/>
                </div>
                {% if post.image %}
                    <div class="pc-post-image">
                        <img src="{{ post.image.url }}"/>
                    </div>
                {% endif %}
                <div class="pc-post-message">
                    {{ post.message }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}