{% extends "chanCore.html" %}
{% block topbar %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="pc-post-menu">
            <!-- menu fajne--> 
        </div>
        <hr>
        {% for post in post_list%}
        <div class="pc-post-wrapper">
            <div class="pc-post">
                <div class="pc-post-info">
                    {% if post.image %}
                        <a href="{{ post.image.url }}"/>file</a>
                    {% endif %}
                    <b>0xAnonymous</b> {{post.timestamp}}({{ post.timestamp|date:"l" }}) No. {{post.id}}
                    <!-- &nbsp;&nbsp;<a href="/">Send Puch</a>&nbsp;<a href="/">Vote Purge</a>-->
                    <br/>
                </div>
                {% if post.image %}
                    <div class="pc-post-image">
                        <img src="{{ post.image.url }}"/>
                    </div>
                {% endif %}
                <div class="pc-post-message">
                    {{ post.message }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}